# Terraform state files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Terraform directories
**/.terraform/
**/.terraform.lock.hcl

# Terraform variable files
*.tfvars
!*.tfvars.example

# Crash logs
crash.log

# SSH keys
*.pem
*.key
az login
az login.pub

# OS files
.DS_Store
.env
